<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
</head>

<body>

    <div class="container">
        {{ range $key, $value := . }}
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{ $value.Image }}" class="card-img-top" alt="{{ $value.Name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ $value.Name }}</h5>
                        <p class="card-text">{{ $value.Description }}</p>
                        <a href="{{ $value.URL }}" class="card-link">Link</a>
                        <a href="{{ $value.DocURL }}" class="card-link">Documentation</a>
                    </div>
                </div>
            </div>

        </div>
        {{ end }}
    </div>

</body>

</html>