<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
</head>

<body>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        concourse
                    </h5>
                    <div class="media">

                        <img src="http://getfavicons.com/api/?url=https%3a%2f%2fconcourse-ci.org%2f&amp;size=32"
                            class="mr-3" alt="...">

                        <p class="card-text media-body">
                            Continious integration system which deploys microfleet services <a
                                href="https://concourse-ci.org/" target="_blank">...</a>
                        </p>
                    </div>
                    <span class="badge badge-info">servicename</span>
                    <span class="badge badge-primary">namespace</span>
                    <span class="badge badge-secondary">type</span>
                    <div class="clearfix">&nbsp;</div>
                    <a href="https://concourse.internal.streamlayer.io"
                        class="btn btn-link">https://concourse.internal.streamlayer.io</a>
                    <a href="https://concourse.internal.streamlayer.io"
                        class="btn btn-link">https://concourse.internal.streamlayer.io</a>
                    <a href="https://concourse.internal.streamlayer.io"
                        class="btn btn-link">https://concourse.internal.streamlayer.io</a>

                </div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>

</body>

</html>